################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MedKnightsWeb/MedKnightsWeb/bin
/MedKnightsWeb/.vs
/MedKnightsWeb/MedKnightsWeb/obj/Debug
/MedKnightsWeb/MedKnightsWeb.Tests/bin/Debug
/MedKnightsWeb/MedKnightsWeb.Tests/obj/Debug
/MedKnightsWeb/packages
